
# Diretórios do Visual Studio
.vs/
Debug/
Release/
TestResults/
*.user
*.suo
*.cache
*.log

# Arquivos gerados
*.exe
*.dll
*.pdb
*.obj
*.bak
*.swp
*.sln.docstates

# Pacotes e dependências
packages/
node_modules/
bin/
obj/
/obj/

/MyFinanceHub/obj/project.nuget.cache
/MyFinanceHub/obj/project.assets.json
/MyFinanceHub/obj/MyFinanceHub.vbproj.nuget.dgspec.json

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.ilk
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.idea/
#Nuget packages folder
